{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/> 
<section class="">
  <div class="container justify-content-center">
    <div class="card border-dark mb-3 justify-content-center" style="max-width: 30rem;">
      <div class="card-header">
        <img 
        src="{% static 'images/ducky.jpg' %}" 
        alt="Smart duckie"
        width="100%"
        >
      </div>
      <div class="card-body text-dark">
        <h5 class="card-title">{{ article.title }}</h5>
        <p class="card-text">Abstract: 
        {% if article.abstract %}
          {{ article.abstract }}
        {% else %}
          Abstract not available 
        {% endif %}
        </p>
        <p class="card-text">Author: {{ article.author }}</p>
        <p class="card-text">Citation: {{ article.citation }}</p>
        <p class="card-text">Year: {{ article.year }}</p>
        <p class="card-text">Published in: {{ article.journal }}</p>
        <p class="card-text">Uploaded by: {{ article.user }}</p>
        <div class="container justify-content-center">
          <a href="{% url 'articles_update' article.id %}" class="btn m-1">Edit</a>
          <a href="{% url 'articles_delete' article.id %}" class="btn m-1">Delete</a>
          <a class="btn m-1" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Leave a Review
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse mb-5" id="collapseExample">
    <div class="card card-body">
      <div class="row m-4 card border-dark">
        <h3 class="fs-4 m-4 text-center">Leave a Review</h3>
        <div class="col">
          <form
            action = "{% url 'add_reviews' article.id %}"
            method = "post"
            class="">
            {% csrf_token %}
            <table>
            {{ review_form.as_table}}
            </table>
        </div>
              <button type="submit" class="btn text-center">Add Review</button>
          </form>
      </div>
    </div>
  </div>
  

  <div class="m-5">
    <div class="row g-3">
      <div class="col text-center">
        <embed src="http://infolab.stanford.edu/pub/papers/google.pdf#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf"   height="700px" width="700">
      </div>

      <div class="col g-3">
        {% for review in reviews %}
        <div class="card h-80">
          Review by {{review.user}}: {{review.content}}
          {% if user.id == review.user_id %}
            <a href="{% url 'update_reviews' review.id %}" class="btn">Edit</a>
            <a href="{% url 'delete_reviews' review.id %}" class="btn">Delete</a> 
          {% endif %}

          {% for reply in replies %}
            {% if reply.review_id == review.id %}
              <div>
                Reply by {{reply.user}} for {{review.content}}: {{reply.content}}
                {% if user.id == reply.user_id %}
                  <a href="{% url 'update_replies' reply.id %}" class="btn">Edit</a>
                  <a href="{% url 'delete_replies' reply.id %}" class="btn">Delete</a>
                {% endif %}
              </div>
            {% endif %} 
          {% endfor %} 
        
          <form 
            action = "{% url 'add_replies' article.id review.id %}"
            method="post"
            class="subsection-content">
            <label for="">Add a reply</label>
            {% csrf_token %}
            {{ reply_form.as_p }}
            <button type="submit" class="btn">Add Reply</button>
          </form> 
        {% endfor %}
      </div>
    </div>
  </div>
    
    


  

</section>
{% endblock %}