{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/article-index.css' %}"/> {% endcomment %}
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
  {% for article in articles %}
  <div class="col">
    <div class="card h-100">
      <div class="text-center mt-3">
        <a href="/articles/{{article.id}}" style="text-decoration:none; color:#ec900f;">
          <img src="{% static 'images/article.png' %}" style="width: 40%; height:15rem" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ article.title }}</h5>
        </a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Author: {{ article.author }}</li>
          <li class="list-group-item">Citation: {{ article.citation }}</li>
          <li class="list-group-item">Journal: {{ article.journal }}</li>
          <li class="list-group-item">Year: {{ article.year }}</li>
          <li class="list-group-item">Added by: {{ article.user }}</li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}