{% extends 'base.html' %}
{% load static %}

{% block head %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/article-index.css' %}"/> {% endcomment %}
{% endblock %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
  {% for group in group_list %}
  <div class="col">
    <div class="card h-100">
      <div class="text-center mt-3">
        <a href="/groups/{{ group.id }}" style="text-decoration:none; color:#ec900f;">
          <img src="{% static 'images/ducky.jpg' %}" style="width: 40%;" class="card-img-top" alt="...">
      </div>
      <div class="card-body">
        <h5 class="card-title text-center">{{ group.name }}</h5>
        </a>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Description: {{group.description}}</li>
          <li class="list-group-item">Participants: 
          {% for participant in group.participants.all%}
          {{participant}}
          {% endfor %}
          </li>
        </ul>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 minutes ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}