{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}"/>
<div class="page-header">
  {% if object %}
    <h3>Edit {{object.name}}</h3>
  {% else %}
    <h3 class="mb-4">Add a Group</h4>
  {% endif %}
</div>
<form action="" method="post" class="form-container" autocomplete="off">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}