{% extends 'base.html' %}
{% load static %}


{% block head %}
{% endblock head %}

{% block content %}

<div class="d-flex flex-row bd-highlight mb-3 justify-content-center align-items-center"> 
  <div class="ms-5 py-5  text-end">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dkownj0k.json"    speed="0.5"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
  </div>
  <div class="mt-5 bd-highlight text-center" style="width:35rem; ">
    Welcome to readuck, a place where researchers across the world get together and share their thoughts.
    <br />    <br />

    As an aspiring researcher interested in broad range of topics, I invite practitioners and scholars from different fields across different parts of the world to share their views and give feedback on some of the journal articles that they read. 
    <br />    <br />

    At readuck, we provide researchers a channel to communicate and share ideas with other researchers to further develop, improve, and refine their products, making them more useful to the society.  

    <br />    <br />
    Enjoy.
    <br />    <br />
    readuck CEO & CTO, 
    <br /> 
    Boyoon Chang
  </div>
 </div>

{% endblock content %}