{% extends 'base.html' %}
{% load static %}


{% block head %}
{% endblock head %}

{% block content %}

<div class="d-flex flex-row bd-highlight mb-3 justify-content-center align-items-center"> 
  <div class="ms-5 py-5  text-end">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dkownj0k.json"    speed="0.5"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
  </div>
  <div class="m-2 bd-highlight text-center" style="width:18rem; ">
    Welcome to readuck, a place where researchers across the world get together and share their thoughts.
  </div>
 </div>

{% endblock content %}