{% extends 'base.html' %}
{% load static %}


{% block head %}
{% endblock head %}

{% block content %}
<div class="d-flex py-5 justify-content-center">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player src="https://assets6.lottiefiles.com/packages/lf20_dkownj0k.json"  background="#e3f2fe"  speed="0.5"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
</div>
<section>
  <div class="d-flex flex-column">
    <div class="fs-4 text-center mb-3">
    Welcome to readuck  
    </div>
    <div class="fs-5 text-center">
    a place for researchers to get together and share their thoughts
    </div>
  </div>
  </section>

{% endblock content %}