{% extends 'base.html' %}
{% load static %}


{% block head %}
{% endblock head %}

{% block content %}
  <div class="container text-center" style="height: 100%; width: 100%">
    <div class="row" style="height: 90%; width:100%">
      <div class="col card align-middle mt-5 mb-5 me-3" >
      <div class="m-3 fs-4">
        Posted Articles
      </div>
        {% for article in articles %}
          <div class="card m-2">
            <div class="card-body">
            <a href="{% url 'articles_detail' article.id %}">
              {{ article.title }}
            </a>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col card align-middle mt-5 mb-5 me-3">
        <div class="m-3 fs-4">
          Posted Reviews
        </div>
        {% for review in reviews %}
          <div class="card m-2">
            <div class="card-header">
              Review for 
              <a href="{% url 'articles_detail' review.article.id %}">
                {{ review.article.title }}
              </a>
            </div>
            <div class="card-body">
              My review <br />
              "{{ review.content }}"
            </div>
          </div>
        {% endfor %}

      </div>
      <div class="col card align-middle mt-5 mb-5 me-3">
        <div class="m-3 fs-4">
          Posted Replies
        </div>
        {% for reply in replies %}
        <div class="card mb-2">
          <div class="card-header">
            Reply to review
            <br /> "{{ reply.review.content }}"
          </div>
          <div class="card-body"> 
            My reply <br />
            "{{ reply.content }}"
          </div>
          <div class="card-footer">
            Belongs to 
            <a href="{% url 'articles_detail' reply.review.article.id %}">{{ reply.review.article }}</a>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col card align-middle mt-5 mb-5 me-3">
        <div class="m-3 fs-4">
          Joined Groups
        </div>
        {% for group in user_group %}
          <div class="card mb-2">
            <div class="card-body">
              <a href="{% url 'groups_detail' group.id %}">
              {{group.name}}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

{% endblock content %}