{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<link rel="style sheet" type="text/css" href="{% static 'css/login.css' %}"/>
  <div class="container">
    <div class="header">Sign Up</div>
  <div>
  {% if error_message %}
    <p class="" style="color: red;">{{ error_message }}</p>
  {% endif %}
  <form action="" method="post" class="" autocomplete="off">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit" class="btn submit">Submit!</button>
  </form>
  </div>
</div>

 {% endblock %}