
main > section {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}

.welcomeMessage {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

