
.container {
  width: 100%;
  padding: 80px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo-container {
  max-width: 450px;
}

.login {
  border: #e3f2fe solid 2px;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.header {
  background-color: #e3f2fe;
  padding: 40px;
  width: 40%;
  justify-content: center;
  text-align:center;
}

.login input label { 
  margin: 2px;
}

.login input {
  font-size: 1.2rem;
  padding: 5px;
  margin: 7px;
  border: #e3f2fe solid 2px;

}

.login .btn {
  /* justify-content: center; */
  align-self: flex-end;
  margin-right: 20px;
  margin-top: 10px;
  background-color: #fbda99;
}

